'name': 'Cue Sheet'
'scopeName': 'source.cuesheet'
'fileTypes': [
  'cue'
]
'patterns': [
  {
    'match': '(FILE) ([\'\"][^\'\"]+[\'\"]) (WAVE|MP3|AIFF|BINARY|MOTOROLA)'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'string.quoted'
      '3':
        'name': 'constant.language'
  }
  {
    'match': '(TRACK) (\d{2}) (AUDIO|CDG|MODE(1/(2048|2336)|2/(2336|2352))|CDI/23(36|52))'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'constant.numeric'
      '3':
        'name': 'constant.language'
  }
  {
    'match': '(INDEX) (\d{1,2}) (\d{2}:\d{2}:\d{2})'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'constant.numeric'
      '3':
        'name': 'constant.numeric'
  }
  {
    'match': '(PREGAP) (\d{2}:\d{2}:\d{2})'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'constant.numeric'
  }
  {
    'match': '(POSTGAP) (\d{2}:\d{2}:\d{2})'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'constant.numeric'
  }
  {
    'match': 'REM'
    'name': 'keyword'
  }
  {
    'match': '(CDTEXTFILE) ([\'\"][^\'\"]+[\'\"])'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'string.quoted'
  }
  {
    'match': 'FLAGS'
    'name': 'keyword'
  }
  {
    'match': 'CATALOG'
    'name': 'keyword'
  }
  {
    'match': 'ISRC'
    'name': 'keyword'
  }
  {
    'match': '(TITLE) ([\'\"][^\'\"]+[\'\"])'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'string.quoted'
  }
  {
    'match': '(PERFORMER) ([\'\"][^\'\"]+[\'\"])'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'string.quoted'
  }
  {
    'match': '(SONGWRITER) ([\'\"][^\'\"]+[\'\"])'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'string.quoted'
  }
  {
    'match': '(REM) (GENRE|DATE|DISCID|DISCNUMBER|TOTALDISCS|COMMENT) (.*)'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'keyword'
      '3':
        'name': 'string'
  }
  {
    'match': '(REM) (.*)'
    'captures':
      '1':
        'name': 'keyword'
      '2':
        'name': 'comment'
  }
]
